In [2]:
import pandas as pd

In [3]:
dftrn = pd.read_csv('../../data/alice/webpage_session_tracking/train_sessions.csv', index_col='session_id')
dftst = pd.read_csv('../../data/alice/webpage_session_tracking/test_sessions.csv', index_col='session_id')
timeCols = ['time%s' % i for i in range(1,11)]
dftrn[timeCols] = dftrn[timeCols].apply(pd.to_datetime)
dftst[timeCols] = dftst[timeCols].apply(pd.to_datetime)
dftrn = dftrn.sort_values(by='time1')
dftrn.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,NaT,NaN,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0

In [4]:
dftrn.columns

Index(['site1', 'time1', 'site2', 'time2', 'site3', 'time3', 'site4', 'time4',
       'site5', 'time5', 'site6', 'time6', 'site7', 'time7', 'site8', 'time8',
       'site9', 'time9', 'site10', 'time10', 'target'],
      dtype='object')

In [5]:
dftrn['target'].value_counts()

0    251264
1      2297
Name: target, dtype: int64

In [6]:
dftrn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253561 entries, 21669 to 204762
Data columns (total 21 columns):
site1     253561 non-null int64
time1     253561 non-null datetime64[ns]
site2     250098 non-null float64
time2     250098 non-null datetime64[ns]
site3     246919 non-null float64
time3     246919 non-null datetime64[ns]
site4     244321 non-null float64
time4     244321 non-null datetime64[ns]
site5     241829 non-null float64
time5     241829 non-null datetime64[ns]
site6     239495 non-null float64
time6     239495 non-null datetime64[ns]
site7     237297 non-null float64
time7     237297 non-null datetime64[ns]
site8     235224 non-null float64
time8     235224 non-null datetime64[ns]
site9     233084 non-null float64
time9     233084 non-null datetime64[ns]
site10    231052 non-null float64
time10    231052 non-null datetime64[ns]
target    253561 non-null int64
dtypes: datetime64[ns](10), float64(9), int64(2)
memory usage: 42.6 MB

In [7]:
siteCols = ['site%s' % i for i in range(1,11)]
dftrn[siteCols].fillna(value=0).astype('int').to_csv('train_session_sites.txt', sep=' ', index=None, header=None)
dftst[siteCols].fillna(value=0).astype('int').to_csv('test_session_sites.txt', sep=' ', index=None, header=None)

In [8]:
!head -5 train_session_sites.txt

56 55 0 0 0 0 0 0 0 0
56 55 56 55 0 0 0 0 0 0
946 946 951 946 946 945 948 784 949 946
945 948 949 948 945 946 947 945 946 946
947 950 948 947 950 952 946 951 946 947

In [9]:
# writing in string will not work with CountVectorizer, and for large data it is not good also
#strSess = dfSites.to_string(header=False, index=False)

**Other basic analysis**

In [10]:
topSites = dftrn['site1'].value_counts()[:50]
botSites = dftrn['site1'].value_counts()[-50:]

In [11]:
import pickle

In [12]:
with open('../../data/alice/webpage_session_tracking/site_dic.pkl', 'rb') as f:
    dct = pickle.load(f)

In [13]:
idx2site = {}
for siteName, siteIdx in dct.items():
    idx2site[siteIdx] = siteName

In [14]:
[idx2site[x] for x in botSites.index]

['img16.imageshack.us',
 'clg-albert-camus.entauvergne.fr',
 'www.cqu.edu.au',
 'www.crchudequebec.ulaval.ca',
 'i.polldaddy.com',
 '02.wir.skyrock.net',
 '3.s3.envato.com',
 'auth.blu.livefilestore.com',
 'blog.massapneus.com',
 'toulouseclubpatinage.free.fr',
 'sdwebx.worldbank.org',
 'i1-js-14-3-01-11074-578585531-i.init.cedexis-radar.net',
 'i1-js-14-3-01-11074-115905279-i.init.cedexis-radar.net',
 'www.gekko-computer.de',
 'www.mirari.fr',
 'cdn1.clkbid.com',
 '61gqktkul5.s.ad6media.fr',
 'blogs-images.forbes.com',
 'api.sports.sina.com.cn',
 'www.forum-microsoft.org',
 'cid-414d1da343eafde1.users.storage.live.com',
 'a2.att.hudong.com',
 'garpitmzn.blogspot.fr',
 'www.opensource.org',
 'www.elle.fr',
 'bbc.linternaute.com',
 'img4.gg.mmo4arab.com',
 'i1.asp.net',
 'memo-linux.com',
 'abonnez-vous.orange.fr',
 'i1-js-14-3-01-10036-257225072-i.init.cedexis-radar.net',
 'i1-js-14-3-01-11074-299358576-i.init.cedexis-radar.net',
 'soutien.laquadrature.net',
 'www.apa.org',
 'manage.cart66.com',
 'portail.dartybox.com',
 'msor.victoria.ac.nz',
 'effbot.org',
 'www.bureauxapartager.com',
 'r3---sn-4g57kuer.googlevideo.com',
 'images-d-ecran-libre.andrewkarpov.com',
 'www.microscopyu.com',
 'www.yiquan78.org',
 'www.lecapotier.com',
 'pics1.pof.com',
 '103.1.187.206',
 'webassetsd.scea.com',
 'd3e3i2g5p5qjmp.cloudfront.net',
 'www.latoilescoute.net',
 'www.streamay.com']

**Create training and validation set**

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
cntVct = CountVectorizer()
with open('train_session_sites.txt') as trnInpFile:
    xtrn = cntVct.fit_transform(trnInpFile)
with open('test_session_sites.txt') as tstInpFile:
    xtst = cntVct.transform(tstInpFile) # NOTICE ONLY TRANSFORM HERE
print(xtrn.shape, xtst.shape)

(253561, 41592) (82797, 41592)

In [20]:
# this will not work. save and read data from file directly
# xtrn = vct.fit_transform()

In [21]:
xtrn.shape

(253561, 41592)

In [22]:
len(cntVct.vocabulary_.items())

41592

In [23]:
ytrn = dftrn['target'].astype('int')

**train logistic regression**

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [25]:
logit = LogisticRegression(C=1, random_state=17)

In [28]:

# cvScores = cross_val_score(estimator=logit, X=xtrn, y=ytrn, cv=5, scoring='roc_auc')
cvScores = cross_val_score(estimator=logit, X=xtrn, y=ytrn, cv=5, scoring='roc_auc', n_jobs=-1)

In [29]:
cvScores

array([0.91381471, 0.82974622, 0.87640454, 0.89222744, 0.91358191])

In [30]:
logit.fit(xtrn, ytrn)

/Users/shubhamtripathi/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=17, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [33]:
ypredLogit1 = logit.predict_proba(xtst)[:,1]

In [36]:
import numpy as np
# a helper function for writing predictions to a file
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [37]:
write_to_submission_file(ypredLogit1, 'submission_logit1.txt')

In [38]:
!head -5 submission_logit1.txt

session_id,target
1,0.0024297647702832053
2,5.105702399504159e-09
3,1.8844710907623316e-08
4,3.001722306966204e-08

**Create training and validation set**

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
cntVct = CountVectorizer()
with open('train_session_sites.txt') as trnInpFile:
    xtrn = cntVct.fit_transform(trnInpFile)
with open('test_session_sites.txt') as tstInpFile:
    xtst = cntVct.transform(tstInpFile) # NOTICE ONLY TRANSFORM HERE
print(xtrn.shape, xtst.shape)

(253561, 41592) (82797, 41592)

In [20]:
# this will not work. save and read data from file directly
# xtrn = vct.fit_transform()

In [21]:
xtrn.shape

(253561, 41592)

In [22]:
len(cntVct.vocabulary_.items())

41592

In [23]:
ytrn = dftrn['target'].astype('int')

**train logistic regression**

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [25]:
logit = LogisticRegression(C=1, random_state=17)

In [28]:

# cvScores = cross_val_score(estimator=logit, X=xtrn, y=ytrn, cv=5, scoring='roc_auc')
cvScores = cross_val_score(estimator=logit, X=xtrn, y=ytrn, cv=5, scoring='roc_auc', n_jobs=-1)

In [29]:
cvScores

array([0.91381471, 0.82974622, 0.87640454, 0.89222744, 0.91358191])

In [30]:
logit.fit(xtrn, ytrn)

/Users/shubhamtripathi/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=17, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [33]:
ypredLogit1 = logit.predict_proba(xtst)[:,1]

**Create training and validation set**

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
cntVct = CountVectorizer()
with open('train_session_sites.txt') as trnInpFile:
    xtrn = cntVct.fit_transform(trnInpFile)
with open('test_session_sites.txt') as tstInpFile:
    xtst = cntVct.transform(tstInpFile) # NOTICE ONLY TRANSFORM HERE
print(xtrn.shape, xtst.shape)

(253561, 41592) (82797, 41592)

In [20]:
# this will not work. save and read data from file directly
# xtrn = vct.fit_transform()

In [21]:
xtrn.shape

(253561, 41592)

In [22]:
len(cntVct.vocabulary_.items())

41592

In [23]:
ytrn = dftrn['target'].astype('int')

**train logistic regression**

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [25]:
logit = LogisticRegression(C=1, random_state=17)

In [28]:

# cvScores = cross_val_score(estimator=logit, X=xtrn, y=ytrn, cv=5, scoring='roc_auc')
cvScores = cross_val_score(estimator=logit, X=xtrn, y=ytrn, cv=5, scoring='roc_auc', n_jobs=-1)

In [29]:
cvScores

array([0.91381471, 0.82974622, 0.87640454, 0.89222744, 0.91358191])

In [30]:
logit.fit(xtrn, ytrn)

/Users/shubhamtripathi/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=17, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [33]:
ypredLogit1 = logit.predict_proba(xtst)[:,1]